<header>
  <p class="text-lg font-poppins font-bold">Hi 👋 I'm</p>
  <h2 class="py-2 text-3xl md:text-4xl font-extrabold text-primary-color">
    Timothy Alcaide 👨&zwj;💻 
  </h2>
  <p class="text-sm md:text-base py-2 font-light">Software Engineer Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat amet, pariatur aut illo enim perferendis quasi fuga consequuntur maxime ipsam laudantium officia iusto eos temporibus similique? Quibusdam, rem nemo. Illo!</p>

  <app-contact  />
</header>
