<header>
  <section class="cursor-help select-none">
    <span class="text-base md:text-lg font-bold">Hi, I'm</span>
    <h2 class="-mt-1 text-3xl md:text-4xl font-extrabold after:content-['👨🏻‍💻'] hover:after:content-['🥷🏻']">
      Timothy Alcaide
    </h2>
    <p class="text-sm md:text-base py-2">Software Engineer Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat amet, pariatur aut illo enim perferendis quasi fuga consequuntur maxime ipsam laudantium officia iusto eos temporibus similique? Quibusdam, rem nemo. Illo!</p>
  </section>

  <app-contact  />
</header>
